.athlete-page-container {
  background-color: #222B3E;
  width: auto;
  height: 100%;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  bottom: 0;
}

.athlete-page-information-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
}

.athlete-page-title {
  font-weight: bold;
  width: 670px;
  font-size: 100px;
  line-height: 125px;
  color: #FFFFFF;
  border-bottom: 8px solid;
  margin: 0px;
}

.athlete-page-subtitle {
  width: 538px;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  color: #FFFFFF;
}

.athlete-page-inf-img1-container {
  margin-top: 640px;
}

.athlete-page-inf-right {
  margin-left: 110px;
}

.athlete-page-ath-title {
  font-weight: bold;
  font-size: 100px;
  line-height: 125px;
  margin-left: 110px;
}
