.contact-container {
  background-color: #222B3E;
  width: auto;
  height: 85vh;
  margin: 0;
  color: white;
  padding-bottom: 6vh;
  display: flex;
  justify-content: space-around;
}

.contact-body{
  display: flex;
  flex-direction: row;
  width: 1286px;
  margin-left: 64px;
  padding-top: 55px;
  margin-right: 90px;
}

.description-and-details-container {
  width: 50%;
}

.email-side-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.email-container {
  width: 630px;
  height: 662px;
  background-color: #2F3556;
  border-radius: 40px;
  margin-right: 0;
  align-items: right;
}

.title {
  width: 470px;
  font-size: 70px;
  font-weight: bold;
  margin: 0;
  line-height: 88px;
  border-bottom: 11px solid white;
}

.subtitle {
  width: 409.65px;
  font-size: 39px;
  font-weight: bold;
  line-height: 49px;
  margin: 0;
  margin-top: 59px;
  margin-bottom: 80px;
}

.icon-info-container {
  display: flex;
  flex-direction: row;
}

.icon-info-container img {
  margin-right: 2em;
}

.details-number {
  font-size: 24px;
  line-height: 30px;
}

.details-email .details-address {
  font-size: 18px;
  line-height: 22px;
}

.details-address {
  letter-spacing: 0.08em;
  width: 269px;
}

.email-box {
  width: 578px;
  height: 600px;
  margin: 24px 26px 38px 26px;
  background: #EEEDED;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  color: black;
}

.email-fields-container {
  padding: 54px 39px 0px 39px;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
}

.email-fields-rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
}

.email-fields-rules input,textarea {
  margin-top: 8px;
}

.name-field {
  width: 48%;
}

.phone-field {
  width: 48%;
}

.email-field {
  width: 100%;
  margin-top: 28px;
}

.email-field label {
  margin-bottom: 8px;
}

.react-tel-input .form-control {
  width: 100%;
  height: 50px;
}

.email-fields-phone-name-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-email-phone-name-fields {
  height: 50px;
  width: auto;
  background: #FFFFFF;
  border: 1px solid #BABABA;
  box-sizing: border-box;
  border-radius: 5px;
}

.message-field {
  width: 100%;
  margin-top: 28px;
}

.message-field textarea {
  height: 21vh;
  background: #FFFFFF;
  border: 1px solid #BABABA;
  box-sizing: border-box;
  border-radius: 5px;
}

.btn-send-msg-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 38px;
  margin-top: 62px;
}

.btn-send-msg {
  width: 197px;
  height: 45px;
  background: #2F3556;
  border-radius: 38px;
  font-size: 13px;
  color: white;
  border-style: none;
  letter-spacing: 0.2em;
}
