
.logo {
  width: 160px;
  height: 56px;
  margin-left: 56px;
}


.header-container {
  background-color: #222B3E;
  width: 100%;
  height: 121px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links-container {
  margin-right: 43px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link {
  margin-left: 19px;
  margin-right: 19px;
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.btn-language {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100px;
  height: 28px;
  border-radius: 100px;
  background-color: #2F3556;
	margin-left: 11px;
  cursor: pointer;
}
.btn-active{
  display: none;
}

.scale-up-ver-top .btn-active{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100px;
  height: 28px;
  border-radius: 100px;
  background-color: #2F3556;
	margin-left: 11px;
  cursor: pointer;
}

.scale-up-ver-top:active .btn-active{
  position: absolute;
  margin-right: 12px;
  top: 0;
  width: 100px;
  height: 28px;
  border-radius: 100px;
  background-color: #2F3556;
	margin-left: 11px;
  cursor: pointer;
}
.scale-up-ver-top:active .btn-flag {
  margin-left: 10px;
}

.scale-up-ver-top:active {
  margin-top: 28px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100px;
  height: 62px;
  border-radius: 13px;
  background-color: #131A27;
	margin-left: 11px;
  cursor: pointer;
  -webkit-animation: scale-up-ver-top 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
          animation: scale-up-ver-top 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
}

.btn-language p {
  color: white;
  font-size: 10px;
}

.btn-flag {
  width: 17px;
  height: 17px;
}

@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}

@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}
