
.logo {
  width: 160px;
  height: 56px;
  margin-left: 56px;
}

.header-container {
  background-color: #222B3E;
  width: 100%;
  height: 121px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-left-side-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links-container {
  margin-right: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.link {
  margin-left: 19px;
  margin-right: 19px;
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.btn-language {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100px;
  height: 28px;
  border-radius: 100px;
  background-color: #2F3556;
	margin-left: 11px;
  cursor: pointer;
}

.btn-language .btn-active{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100px;
  height: 28px;
  border-radius: 100px;
  background-color: #2F3556;
	margin-left: 11px;
  cursor: pointer;
}

.language-container {
  margin-right: 43px;
}

.scale-up-ver-top .btn-active{
  margin-left: 0px;
}

.scale-up-ver-top {
  margin-top: 38px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  height: 70px;
  border-radius: 13px;
  background-color: #131A27;
	margin-left: 11px;
  cursor: pointer;
  -webkit-animation: scale-up-ver-top 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
          animation: scale-up-ver-top 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
}

.btn-language p {
  color: white;
  font-size: 10px;
}

.btn-flag {
  width: 17px;
  height: 17px;
}

.btn-display-none {
  display: none;
}

.btn-work {
  z-index: 10;
}

.header-mobile {
  display: none;
}

@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}

@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}


@media only screen and (max-width: 599px) {
  .header-mobile {
    display: block;
  }

  .links-container, .language-container {
    display: none;
  }

  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
  }

  .bm-burger-bars {
    background: white;

  }

  .bm-burger-bars-hover {
    background: white;
  }

  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  .bm-cross {
    background: #bdc3c7;
  }

  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }

  .bm-menu {
    background: #222B3E;
    box-shadow: -7px -1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-left: 17px;
    padding-top: 87px;
  }

  .link-mob {
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    text-decoration: none;
  }

  .scale-up-ver-top {
    width: 200px;
    height: 100px;
  }

  .btn-active {
    height: 300px;
  }
  .btn-language .btn-active {
    width: 200px;
    height: 33px;
    margin-left: 0px;
    margin-top: 50px;
  }

  .btn-language {
    margin-left: 0px;
  }

  .header-mobile-logo {
    margin-top: 50px;
    position: relative;
  }

  .home-footer-contacts-mob {
    margin-top: 24px;
  }

  .home-footer-contacts-mob a img {
    width: 37px;
    margin-right: 17px;
  }
}
