.home-info-container {
  width: 100%;
  height: auto; 
  background-color: #222B3E;
}

.home-info-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 140px;
  padding-bottom: 176px;
  width: 100%;
  height: auto;
}

.home-info-img-container {
  display: flex;
  justify-content: flex-start;
}

.home-info-texts-container {
  margin-right: 110px;
  margin-left: 135px;
}

.home-info-texts-title {
  width: 670px;
  font-weight: bold;
  font-size: 100px;
  line-height: 125px;
  color: #FFFFFF;
  margin: 0;
  margin-left: 55px;
}

.home-info-texts-subtitle {
  width: 419px;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color: white;
  margin-top: 35px;
}

.home-info-texts-box {
  /* margin-right: 110px; */
  /* margin-left: 135px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 513px;
  height: 708px;
  border-width: 2px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      white, 
      #222B3E
    ) 1 1%;
}
