.home-info-container {
  width: 100%;
  height: auto; 
  background-color: #222B3E;
}

.home-info-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 140px;
  padding-bottom: 176px;
  width: 100%;
  height: auto;
}

.home-info-img-container {
  display: flex;
  justify-content: flex-start;
}

.home-info-texts-container {
  margin-right: 110px;
  margin-left: 135px;
}

.home-info-texts-title {
  width: 670px;
  font-weight: bold;
  font-size: 100px;
  line-height: 125px;
  color: #FFFFFF;
  margin: 0;
  margin-left: 55px;
}

.home-info-texts-subtitle {
  width: 419px;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color: white;
  margin-top: 35px;
}

.home-info-texts-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 513px;
  height: 708px;
  border-width: 2px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      white, 
      #222B3E
    ) 1 1%;
}

.home-footer-container {
  width: 100%;
  height: auto; 
  background-color: #222B3E;
  display: flex;
  justify-content: center;
}

.home-footer-left-side {
  display: flex;
  flex-direction: column;
  width: 204px;
}

.home-footer-contacts {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between;
}

.home-footer-logo {
  width: 200px;
  margin-top: 83px;
  margin-bottom: 100px;
}

.home-footer-links-container {
  display: flex;
  flex-direction: column;
  margin-top: 82px;
  margin-bottom: 120px;
}

.home-footer-link {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.08em;
  margin-bottom: 17px;
}

.home-footer-box {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  margin-right: 90px;
}

.home-footer-right-side {
  width: 765px;
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-top: 60px;
}

.home-footer-title {
  margin: 0;
  font-weight: bold;
  font-size: 72px;
  line-height: 90px;
  color: #FFFFFF;
  width: 483px;
  margin-bottom: 29px;
}

.home-footer-subtitle {
  margin: 0;
  width: 765px;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  color: #FFFFFF;
  margin-bottom: 45px;
}

.home-footer-description {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  width: 765px;
}

@media only screen and (max-width: 599px) {
  .home-info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
    padding-top: 48px;
    padding-bottom: 63px;
    height: auto;
    margin: 0 auto;
  }

  .home-info-img-container {
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .home-info-img-container img {
   width: 259px; 
  }

  .home-info-texts-container {
    margin: 0 auto;
  }

  .home-info-texts-box  {
    width: 208.68px;
    height: 288px;
    margin: 0 auto;
  }

  .home-info-texts-title {
    font-size: 40.678px;
    line-height: 51px;
    text-align: center;
    width: 275.25px;
    margin-right: 60px;
  }

  .home-info-texts-subtitle {
    width: 170.44px;
    font-size: 11.3898px;
    line-height: 14px;
    text-align: center;
  }

  .home-footer-links-container {
    display: none;
  }

  .home-footer-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 360px;
    height: auto;
    padding-top: 37px;
  }

  .home-footer-left-side {
    margin: 0 auto;
  }

  .home-footer-logo {
    margin: 0 auto;
    width: 180px;
    margin-bottom: 63px;
  }

  .home-footer-right-side {
    width: 100%;
    margin: 0 auto;
  }

  .home-footer-title {
    width: 258.32px;
    font-size: 38.4075px;
    line-height: 48px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 33px;
  }

  .home-footer-subtitle {
    width: 287px;
    font-size: 19.2038px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 27px;
  }

  .home-footer-description {
    width: 291px;
    font-weight: 500;
    font-size: 9.60188px;
    line-height: 12px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 160px;
  }

  .home-footer-contacts {
    /* o tamanho abaixo terá que ser ajustado após alterar o componente de lugar */
    top: 1870px;
    position: absolute;
  }
}
