.our-clients-container {
  width: 100%;
  height: auto;
  min-height: 83vh;
  background: #222B3E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
}

.our-clients-header-title {
  width: 300px;
  font-weight: bold;
  font-size: 75px;
  line-height: 118px;
  text-align: left;
  border-bottom: 11.3007px solid #FFFFFF;
  margin-bottom: 20px;
  margin-left: 76px;
}

.services-card-clients-container {
  text-align: left;
  margin-left: 76px;
}

.athlete-page-ath-title-clients {
  font-weight: bold;
  font-size: 65px;
  line-height: 81px;
  margin: 0 auto;
  margin-top: 66px;
  margin-bottom: 75px;
}

.card-service-clients {
  width: 140px;
  height: 140px;
  background: #2F3556;
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-service-clients p {
  width: 120px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.services-card-clients {
  width: 680px;
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-around;
}

.our-clients-header-subtitle {
  width: 916px;
  font-weight: bold;
  font-size: 32.63px;
  line-height: 41px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.our-clients-header-img {
  width: 100%;
  margin: 0 auto;
}

.our-clients-title {
  font-weight: bold;
  font-size: 65px;
  line-height: 81px;
  margin-top: 65px;
  margin-bottom: 60px;
  margin-left: 76px;
}

.our-client-card-box {
  width: 311px;
  height: 113px;
  background: #2F3556;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  color: white;
  margin-bottom: 22px;
}

.our-client-card-box img {
  margin-left: 11px;
  margin-right: 19px;
}


.our-clients-card-texts-container {
  display: flex;
  flex-direction: column;
}

.our-clients-card-texts-title {
  background: #FFFAFA;
  color: #222B3E;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.our-clients-card-texts-subtitle {
  width: 140px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-top: 0px;
}

.our-clients-cards-container {
  margin-left: 75px;
  margin-right: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 122px;
}


@media only screen and (max-width: 599px) {
  .our-clients-header-title {
    width: 222.57px;
    font-size: 35px;
    line-height: 44px;
    margin-bottom: 27px;
    border-bottom: 5.41208px solid #FFFFFF;
  }

  .our-clients-header-subtitle {
    width: 219.82px;
    font-size: 19.1566px;
    line-height: 24px;
    margin-bottom: 56px;
  }

  .our-clients-title {
    width: 180px;
    font-size: 46.988px;
    line-height: 59px;
  }

  .our-client-card-box {
    margin: 0 auto;
    margin-bottom: 22px;
  }

  .our-clients-cards-container {
    margin: 0 auto
  }

  .athlete-page-ath-title-clients {
    width: 180px;
    font-size: 46px;
    line-height: 57px;
    text-align: center;
    color: #FFFFFF;
  }

  .services-card-clients {
    width: 90%;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .card-service-clients {
    margin-bottom: 30px;
  }
}
