.our-investments-container {
    display: flex;
    flex-direction: column;
}

.our-investments-apresentation-container {
  display: flex;
  flex-direction: row;
  background-color: #222B3E;
  width: auto;
  height: 100%;
  margin: 0;
  color: white;
  bottom: 0;
  border-radius: 0px 0px 40px 40px;
}

.our-investments-texts-side {
  width: 50%;
  margin-left: 53px;
}

.our-investments-img-side {
  width: 50%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.our-investments-img-side img {
  max-width: 100%;
  right: 0;
}

.our-investments-texts-title {
  font-size: 70.6294px;
  line-height: 88px;
  width: 495.74px;
  border-bottom: 11.3007px solid #FFFFFF;
  font-weight: bold;
}

.our-investments-texts-subtitle {
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
  width: 669px;
}

.our-investments-companies-side {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-top: 40px;
  margin-right: 91px;
  margin-bottom: 150px;
}

.our-investments-companies-side-title {
  font-weight: bold;
  font-size: 100px;
  line-height: 125px;
  color: #222B3E;
  margin: 0;
  margin-bottom: 55px;
}

.our-investments-companies-card {
  display: flex;
  flex-direction: row;
  width: 391.03px;
  height: 142.11px;
  border-radius: 5px;
  margin-bottom: 39px;
  margin-right: 26px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.companie-card-texts {
  margin-left: 177px;
}

.companie-card-title {
  text-align: center;
  background: #FFFAFA;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #222B3E;
  width: fit-content;
}

.companie-card-subtitle {
  width: 165px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: white;
}

.companies-cards-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.companies-cards-container a {
  margin: 0 auto;
  text-decoration: none;
}

@media only screen and (max-width: 599px) {
  .our-investments-mob-container {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .our-investments-apresentation-mob {
    width: 100%;
    height: 369px;
    background-color: #222B3E;
    margin: 0 auto;
    border-radius: 0px 0px 20px 20px;
  }

  .our-investments-container {
    width: 100%;
    height: auto;
  }

  .our-investments-apresentation-container {
    height: 330px;
  }

  .our-investments-texts-side {
    margin: 0 auto;
    margin-left: 20px;
    width: 225px;
    position: relative;
    z-index: 10;
  }

  .our-investments-texts-title {
    width: 222.57px;
    font-weight: bold;
    font-size: 35px;
    line-height: 44px;
    border-bottom: 5.41208px solid #FFFFFF;
    height: auto;
  }

  .our-investments-texts-subtitle {
    width: 219.82px;
    font-size: 19.1566px;
    line-height: 24px;
  }

  .our-investments-img-side img {
    height: 360px;
    top: 130px;
    position: absolute;
  }

  .our-investments-companies-side {
    background-color: white;
    margin: 0 auto;
    text-align: center;
  }

  .our-investments-companies-side-title {
    font-size: 46.988px;
    line-height: 59px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .our-investments-companies-mob {
    width: 360px;
    margin: 0 auto;
  }

  .our-investments-companies-card {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 288.31px;
    height: 104.78px;
    background-position: inherit;
    background-size: 288px 105px;
  }

  .companie-card-texts {
    margin-left: 130px;
  }

  .companie-card-title {
    font-size: 14px;
    line-height: 17px;
  }

  .companie-card-subtitle {
    font-size: 10.3223px;
    line-height: 13px;
    text-align: left;
    width: 133px;
  }
}
